.sign-container{
    background-color: #cfd161;
    width: 100vw;
    height: 100vh;
}
.main-boxing{
    width: 564px;
    height: 250px;
    background: #ffffff;
    border: 1px solid #dee1e6;
    margin: 0 29%;
    text-align: center;
    position: relative;
    top:200px;
    padding-top: 50px;
}
.signin-logo{
    color:#cfd161;
}

.input-boxing{
    width: 450px;
    height: 40px;
    padding-left: 15px;
    border-radius: 10px;
    margin: 10px 10%;
    border: 1px solid #E2E2E2;
   
}
.btn{
    width: 450px;
    height: 40px;
    border-radius: 10px;
    margin: 10px 10%;
    color: white;
    border: 1px solid #cfd161;
    background-color: #afd168;
}